on_mount_cmd=
mount_command=mount %m
umount_command=umount %m
excluded_filesystems=/ /boot/efi /opt /home /run/user/*
icon=/opt/ifsp/images/icons/eject.svg
show_message_dialog=true
include_networked_filesystems=false
trim_devicenames=false
td_count=14
exclude_selected_filesystems=true
exclude_devicenames_in_menu=true
eject_cddrives=true

