[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/itp.local/3049272/Desktop/scenebuilder-SceneBuilder.desktop]
row=1
col=3

[/home/itp.local/3049272/Desktop/argouml.desktop]
row=3
col=3

[/home/itp.local/3049272/Desktop/org.gnome.Dia.desktop]
row=4
col=0

[/home/itp.local/3049272/Desktop/google-chrome.desktop]
row=3
col=0

[/home/itp.local/3049272/Desktop/libreoffice-impress.desktop]
row=6
col=0

[/home/itp.local/3049272/Desktop/onlyoffice-desktopeditors.desktop]
row=2
col=1

[/home/itp.local/3049272/Desktop/space.celestiaproject.celestia_qt5.desktop]
row=7
col=0

[/home/itp.local/3049272/Desktop/arduino.desktop]
row=6
col=1

[/home/itp.local/3049272/Desktop/ultimakercura.desktop]
row=0
col=2

[/home/itp.local/3049272/Desktop/portugol-studio.desktop]
row=7
col=1

[/home/itp.local/3049272/Desktop/mysql-workbench.desktop]
row=8
col=1

[/home/itp.local/3049272/Desktop/jupyter-notebook.desktop]
row=8
col=2

[/home/itp.local/3049272/Desktop/audacity.desktop]
row=5
col=1

[/home/itp.local/3049272/Desktop/gimp.desktop]
row=8
col=0

[/home/itp.local/3049272/Desktop/flowgorithm.desktop]
row=4
col=1

[/home/itp.local/3049272/Desktop/codium.desktop]
row=6
col=2

[/home/itp.local/3049272/Desktop/virtualbox.desktop]
row=3
col=1

[/home/itp.local/3049272/Desktop/libreoffice-calc.desktop]
row=1
col=2

[/home/itp.local/3049272/Desktop/org.shotcut.Shotcut.desktop]
row=1
col=1

[/home/itp.local/3049272/Desktop/org.inkscape.Inkscape.desktop]
row=3
col=2

[/home/itp.local/3049272/Desktop/libreoffice-writer.desktop]
row=5
col=2

[/home/itp.local/3049272/Desktop/org.wireshark.Wireshark.desktop]
row=4
col=2

[/home/itp.local/3049272/Desktop/android-studio.desktop]
row=5
col=0

[/home/itp.local/3049272/Desktop/codeblocks.desktop]
row=2
col=3

[/home/itp.local/3049272/Desktop/pictoblox.desktop]
row=7
col=2

[/home/itp.local/3049272/Desktop/openscad.desktop]
row=0
col=1

[/home/itp.local/3049272/Desktop/podman-desktop.desktop]
row=2
col=2

[/home/itp.local/3049272/Desktop/geogebra5.desktop]
row=0
col=3

[Lixeira]
row=0
col=0

[/]
row=1
col=0

[/home/itp.local/3049272]
row=2
col=0

