[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ifsp/Desktop/arduino.desktop]
row=0
col=1

[/home/ifsp/Desktop/chrome-fnmceifnioaolgidbkpplgjalmfihnbn-Profile_2.desktop]
row=3
col=0

[/home/ifsp/Desktop/google-chrome.desktop]
row=2
col=0

[/home/ifsp/Desktop/code.desktop]
row=1
col=1

[Lixeira]
row=0
col=0

[/home/ifsp]
row=1
col=0

