[Desktop Entry]
Version=1.0
Name=Oracle VirtualBox
GenericName=Virtualization Software
GenericName[de]=Virtualization Software
GenericName[ru]=Virtualization Software
Type=Application
Exec=VirtualBox %U
TryExec=VirtualBox
Keywords=virtualization;
Keywords[de]=virtualization;
Keywords[ru]=virtualization;
MimeType=application/x-virtualbox-vbox;application/x-virtualbox-vbox-extpack;application/x-virtualbox-ovf;application/x-virtualbox-ova;
Icon=virtualbox
Categories=Utility;
Actions=Manager;
StartupWMClass=VirtualBox Manager
Comment=Run several virtual systems on a single host computer
Comment[de]=Run several virtual systems on a single host computer
Comment[it]=Run several virtual systems on a single host computer
Comment[ko]=Run several virtual systems on a single host computer
Comment[pl]=Run several virtual systems on a single host computer
Comment[ru]=Run several virtual systems on a single host computer
Comment[sv]=Run several virtual systems on a single host computer
Hidden=false

[Desktop Action Manager]
Exec=VirtualBox
Name=Open VM Manager
Name[de]=Open VM Manager

